*{
    font-family: work sans;
    font-style: normal;
}
li{
    display: flex;
}
nav li{
    display: flex;
    text-decoration: none;
    text-align: right ;
    justify-content: space-between;
    margin-left: 840px;
}
/* .header-title{
 
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    text-align: right;
} */